/* Element Selectors */
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-weight: bold;
}

h3{
    font-weight: bold;
}
/* Class selectors */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.download-buttons {
    margin: 5% 3% 5% 0%;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    margin-left: 100px;
}

.features-section {
    margin-top: 10%;
    text-align: center;
    padding: 0 3%;
}

.icon{
color: #ef8172;
margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}

.featurs-heading{
    font-size: 1.5rem;
    font-weight: bold;
}

.featurs-desc{
    color: #8f8f8f;
}


.testimonials-heading{
    font-weight: bold;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

.pricing-card{
    padding: 3% 2%;
}

.cta-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
}

.social-icon{
    margin: 20px 10px;
}
/* ID Selectors */
#title {
    background-color: #ff4c68;
    color: #ffffff;
}

#features {
    padding: 7% 15%;
    position: relative;
    background-color: #ffffff;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing{
    text-align: center;
    padding: 100px;
}

#cta{
    background-color: #ef8172;
    color: #ffffff;
    text-align: center;
    padding: 7% 15%;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

/* Media Queries */


@media (max-width: 1024px) {
    .title-img{
        width: 60%;
        position: static;
        transform: rotate(0);
        margin-left: auto;
    }

    #title{
        text-align: center;
    }
}